env:
  browser: true
  jest : true

extends:
  - airbnb
  - "react-app"

rules :
  "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]

  "react/jsx-indent" : ["error", 4]
  
  "indent": ["error", 4]

  "react/jsx-indent-props": ["error", 4]

  "key-spacing": ["error", { "beforeColon": true, "align" : 'colon' }]

  import/no-extraneous-dependencies: "off"
  react/jsx-one-expression-per-line : "off"
  react/destructuring-assignment : "off"
  jsx-a11y/click-events-have-key-events : "off"
  jsx-a11y/no-static-element-interactions : "off"
  jsx-a11y/no-noninteractive-tabindex : "off"