.InteractiveTextarea {
    position: absolute;

    > textarea {
        width: 100%;
        border: 3px solid transparent;
        margin: 0;
        padding: .1rem .8rem;
        height: 100%;
        background-color: transparent;
        outline: none;
        resize: none;
        overflow: hidden;
        transition: border ease-in-out 0.08s;
        line-height: 1;
        color: transparent;
        caret-color: black;

        &:hover {
            border: 3px solid #000;
        }

        &:focus {
            border: 3px solid #000;
        }
    }

}