PROJECT_NAME=Server Pokemon Generator
PORT=8080
PROTOCOL=http
HOST=localhost
WHITE_LIST_ORIGIN=http://localhost:3000
INSTA_KEY=
INSTA_SECRET=
SESSION_SECRET=
CACHE_ID=
TRANSLOADIT_KEY=
TRANSLOADIT_SECRET=
TRANSLOADIT_TEMPLATE_ID=