.InteractiveFile {
    position: absolute;
    left: 11.6%;
    top: 12.5%;
    width: 76.5%;
    height: 39.2%;
    cursor: pointer;
    overflow: hidden;
    transition: background-color .2s ease-in-out;

    .icon {
        position: absolute;
        background: linear-gradient(to left, #ff9349 0%, #ffc27b 100%);
        color: #fff;
        border-radius: 100%;
        z-index: 1;
        cursor: pointer;
        transition: ease-in-out 0.2s box-shadow;

        &:hover {
            box-shadow: 0px 0px 12px #949090;
            color: white;
        }


        &.remove {
            display: none;
            height: 6rem;
            width: 6rem;
            font-size: 2.1rem;
            bottom: 1rem;
            right: 1rem;
        }
    }

    .picture {
        position: absolute;
        font-size: 21rem;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        color: white;
        z-index: 5;

        > svg {
            position: absolute;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
        }

        > svg:first-child {
            left: calc(50% + 6px);
            top: calc(50% + 6px);
            color: #ff9349;
        }
    }

    &:hover {
        .icon.remove {
            display: flex;
        }
    }

    .overlay-remove {
        display: block;
        height: 100%;
        width: 250%;
        background-color: #ff9349;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 40%, #fff 70%, rgba(255, 255, 255, 0) 100%);
        position: absolute;
        transform: skew(-20deg, 0deg);
        z-index: 6;
    }

    .click-zone {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .2s ease-in-out;

        &:after {
            content: '';
            display: block;
            border: 2px dashed transparent;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(to left, #ff9349 0%, #ffc27b 100%);
        }
    }

    &:hover {
        .click-zone {
            opacity: 1;
        }
    }
}