@font-face {
    font-family: 'pokename';
    src: url(../../assets/fonts/GillSansStd-BoldCondensed.otf);
}
@font-face {
    font-family: 'pokevolution';
    src: url(../../assets/fonts/GillSansStd-BoldItalic.otf);
}
@font-face {
    font-family: 'pokehp';
    src: url(../../assets/fonts/FuturaStd-Heavy.otf);
}
@font-face {
    font-family: 'poke';
    src: url(../../assets/fonts/gill-sans-bold-extra-condensed.ttf);
}
@font-face {
    font-family: 'gstd';
    src: url(../../assets/fonts/GillSansStd.otf);
}
#test { font-family: pokename; }
.select select, .select { width: 100%; }
.konvajs-content { margin: 0 auto; }

.input.small {
    width: 40%;
}

.gfields-box {
    border-radius: 4px;
    box-shadow: 1px 1px 4px #ccc;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: ease-in-out margin-top 0.3s 0.1s, ease-in-out margin-bottom 0.3s;

    &.open
    {
        position: relative;
        z-index: 5;
        margin-top: -40px!important;
        margin-bottom: -60px!important;
    }
    
    .gfields-header { 
        padding: 2.15rem 1.85rem; 
        cursor: pointer;
        font-size: 1.8rem;
    }
    
    .gfields-content-wrapper { 
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-in-out 0.4s;
    }

    .gfields-content { 
        padding: 1.250rem;
    }
    
    + .gfields-box {
        margin-top: 20px;
    }
}