@import "../../assets/style/const.scss";
@import "../../assets/style/font.scss";

#test { font-family: pokename; }
.select select, .select { width: 100%; }
.konvajs-content { margin: 0 auto; }

.App {
    display: block;
    background-color: #faf8f5;
    height: 70vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
}
.global-wrapper {
    max-width: 1160px;
    margin: 0 auto;
}
.input, .select select {
    background-color: #f8f8f8;
    border: 1px solid #ededed;
    box-shadow: none;
    border-radius: 15px;
    
    &:hover {
        border-color: #b5b5b5;
    }
}
.input {
    padding: 15px 10px;
    &.small {
        width: 40%;
    }
}
.select:not(.is-multiple) {
    height: auto;
}
.select select {
    padding: 4px 15px;
    height: 3.2em;
}
.input:focus, .input.is-focused, .input:active, .input.is-active, .textarea:focus, .textarea.is-focused, .textarea:active, .textarea.is-active {
    border-color: #b5b5b5;
    box-shadow: none;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link::after {
    height: 0.725em;
    width: 0.725em;
    border-color: $orange;
    border-width: 2px;
}

.gfields-box {
    border-radius: 4px;
    box-shadow: 0px 0px 8px #efeded;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: ease-in-out margin-top 0.3s 0.1s, ease-in-out margin-bottom 0.3s, ease-in-out transform 0.15s;

    &.open
    {
        transform: scale(1.08);
        position: relative;
        z-index: 5;
        margin-top: -40px!important;
        margin-bottom: -60px!important;
    }
    
    .gfields-header { 
        padding: 1.25rem 3.15rem 1.25rem 2.45rem; 
        cursor: pointer;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        font-family: 'Noto Sans Jp';
    }

    .gfields-step {
        font-size: 1.65rem;
        padding: 2rem 1.9rem 2rem 0;
        font-weight: 700;
        color: #ffc919;
    }
    
    .gfields-content-wrapper { 
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-in-out 0.4s;
    }

    .gfields-content { 
        padding: 1.250rem;
    }
    
    + .gfields-box {
        margin-top: 10px;
    }
}



.gradient-btn {
    cursor: pointer;
    font-size: .9rem;
    color: white;
    border: none;
    padding: 15px 20px;
    font-weight: 500;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    background: linear-gradient(to left, $orange 0%, #ffc27b 100%);
    transition: ease-in-out 0.2s box-shadow;

    &.tiny {
        padding: 9px 16px;
    }

    &:hover {
        box-shadow: 0px 0px 12px #949090;
        color: white;
    }

    svg.svg-inline--fa {
        width: 1.25em;
        height: 1.25em;
        margin-right: 10px;
    }
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
}

nav {

    #logo {
        > img {
            width: 40px;
        }
    }

    #logo-title {
        padding-left: 15px;
        font-size: 2.5rem;
        max-width: 195px;
        line-height: 1;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-left {
        display: flex;
        align-items: center;
    
        a:not(.gradient-btn) {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 1px;
            color: $orange;
            padding: 15px 10px;
            margin-right: 14px;
        }
    }
}

.panel-actions {
    padding-top: 25px;
    text-align: center;

    .gradient-btn {
        padding: 1.3rem;
        
        + .gradient-btn {
            margin-left : .8rem;
        }
        > svg {
            margin-right: 0;
            min-width: 13px;
        }
    }
}

.signature {
    mix-blend-mode: difference;
    position: relative;
    padding-left: 2.3rem;
    padding-top: 2.3rem;

    .signature-desc {
        padding-top: 10px;
        color: #9b9b9b;
    }
}
.version {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}


.Generator {
    position: relative;
    z-index: 5;
}
.shape-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#shape-1 {
    width: 40%;
    left: 50%;
    top: 39%;
    max-width: 440px;
    fill: $rose;
}
#shape-2 {
    fill: $violet;
    width: 27%;
    max-width: 380px;
    left: 60%;
    top: 50%;
}

#shape-3 {
    width: 40%;
    left: 46%;
    top: 67%;
    max-width: 420px;
    fill: $jaune;
}

.shape {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    fill-rule: evenodd;
}

.konvajs-content {
    border-radius: 23px;
    background-color: #faf8f5;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100vw;
}

.circle {
    border-radius: 100%;
    display: inline-block;
    background-color: #000;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}

#circle-1 {
    left: 10%;
    top: 26%;
    width: 130px;
    height: 130px;
    background-color: $jaune;
}

#circle-2 {
    left: 80%;
    top: 16%;
    background-color: $violet;
    height: 30px;
    width: 30px;
}

#circle-3 {
    left: 92%;
    top: 34%;
    background-color: $rose;
    height: 80px;
    width: 80px;
}

#circle-4 {
    left: 10%;
    top: 26%;
    background-color: $jaune;
    height: 80px;
    width: 80px;
}

#shadow-card {
    position: absolute;
    left: 50%;
    top: 320px;
    transform: translateX(-50%);
    box-shadow: 0 20px 46px -6px #cacaca;
    width: 310px;
    height: 190px;
}

@media print {
    header, .column.is-one-quarter, .shape-wrapper {
        display:none;
    }
    .App {
        background-color: transparent;
    }
    .konvajs-content {
      display: block;
    }
    .konvajs-content > canvas {
        width: 6.3cm!important;
        height: auto!important;
        // height: auto!important;
        position: fixed!important;
        top: 50%!important;
        left:50%!important;
        transform: translateX(-50%) translateY(-50%)!important;
    }
}
