@font-face {
    font-family: 'pokename';
    src: url(../../assets/fonts/GillSansStd-BoldCondensed.otf);
}
@font-face {
    font-family: 'pokevolution';
    src: url(../../assets/fonts/GillSansStd-BoldItalic.otf);
}
@font-face {
    font-family: 'pokehp';
    src: url(../../assets/fonts/FuturaStd-Heavy.otf);
}
@font-face {
    font-family: 'poke';
    src: url(../../assets/fonts/gill-sans-bold-extra-condensed.ttf);
}
@font-face {
    font-family: 'gstd';
    src: url(../../assets/fonts/GillSansStd.otf);
}
#test { font-family: pokename; }
.select select, .select { width: 100%; }
.konvajs-content { margin: 0 auto; }

.App {
    padding-top: 8rem;
    display: block;
    background-color: #faf8f5;
    height: 70vh;
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
}
.input.small {
    width: 40%;
}

.gfields-box {
    border-radius: 4px;
    box-shadow: 0px 0px 8px #efeded;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: ease-in-out margin-top 0.3s 0.1s, ease-in-out margin-bottom 0.3s, ease-in-out transform 0.15s;

    &.open
    {
        transform: scale(1.08);
        position: relative;
        z-index: 5;
        margin-top: -40px!important;
        margin-bottom: -60px!important;
    }
    
    .gfields-header { 
        padding: 2.15rem 1.85rem; 
        cursor: pointer;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
    }

    .gfields-step {
        font-size: 1.65rem;
        padding-right: 11px;
        font-weight: 700;
        color: #ffc919;
    }
    
    .gfields-content-wrapper { 
        max-height: 0;
        overflow: hidden;
        transition: max-height ease-in-out 0.4s;
    }

    .gfields-content { 
        padding: 1.250rem;
    }
    
    + .gfields-box {
        margin-top: 10px;
    }
}


.input {
    @mixin border-style($border, $outline) {
      outline-color: $outline;
      // prettier-ignore
      box-shadow:
        0 4px $border,
        0 -4px $border,
        4px 0 $border,
        -4px 0 $border;
    }
  
    max-width: 100%;
    padding: 0.5rem 1rem;
    margin: 4px;
    border: none;
  
    @include border-style(#212529, #e7e7e7);
  
    &.is-success {
      @include border-style(#209cee, #108de0);
    }
    &.is-warning {
      @include border-style(#f7d51d, #f2c409);
    }
    &.is-error {
      @include border-style(#e76e55, #ce372b);
    }
  }
  
  .field {
    > label {
      display: block;
    }
    .input {
      display: block;
    }
  
    &.is-inline {
      display: flex;
      align-items: center;
  
      > label {
        flex-basis: 0;
        flex-grow: 1;
        margin: 0;
        margin-right: 1.5rem;
        text-align: right;
      }
  
      .input {
        flex-basis: 0;
        flex-grow: 5;
      }
    }
  }

.gradient-btn {
    cursor: pointer;
    font-size: 1rem;
    color: white;
    border: none;
    padding: 15px 20px;
    font-weight: 500;
    line-height: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    background: linear-gradient(to left, #ff9349 0%, #ffc27b 100%);
    transition: ease-in-out 0.2s box-shadow;

    &.tiny {
        padding: 9px 16px;
    }

    &:hover {
        box-shadow: 0px 0px 12px #949090;
        color: white;
    }

    svg.svg-inline--fa {
        width: 1.25em;
        height: 1.25em;
        margin-right: 10px;
    }
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
}

nav {

    #logo {
        > img {
            width: 40px;
        }
    }

    #logo-title {
        padding-left: 15px;
        font-size: 2.5rem;
        max-width: 195px;
        line-height: 1;
    }

    .logo-container {
        display: flex;
        align-items: center;
    }

    .container {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-left {
        display: flex;
        align-items: center;
    
        a:not(.gradient-btn) {
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 1px;
            color: #ff9349;
            padding: 15px 10px;
            margin-right: 14px;
        }
    }
}

.panel-actions {
    padding-top: 25px;
    text-align: center;

    .gradient-btn {
        padding: 1.3rem;
        
        + .gradient-btn {
            margin-left : .8rem;
        }
        > svg {
            margin-right: 0;
        }
    }
}

.signature {
    padding-left: 2.3rem;
    padding-top: 2.3rem;

    .signature-desc {
        padding-top: 10px;
        color: #9b9b9b;
    }
}
.version {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}