@import "../../assets/style/font.scss";

.LayerCard {
    width: 540px;
    height: 755px;
    background-image: url(../../assets/1-gen/water-basic.png);
    background-size: contain;
    border-radius: 30px;
    position: relative;
}
