.LayerCard {
    width: 540px;
    height: 755px;
    background-color: blue;
    background-image: url(../../assets/1-gen/water-basic.png);
    background-size: contain;
    opacity: .05;
    border-radius: 30px;
}
